/* _____________Day #1 */

* {
  box-sizing: border-box;
}

body {
  background: #111032;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(17, 16, 50, 0) 0%, #111032 85.62%), url("../img/bg.png") no-repeat center top / cover;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding-left: 57px;
}

.m-menu {
  display: none;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  color: #fff;
  text-decoration: none;
}

.user {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

/* _____________Day #2 */

.film {
  display: flex;
  align-items: center;
  margin-top: 60px;
  color: #fff;
}

.film-title-small {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5
}

.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}

.film-description{
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}

.film-trailer {
  opacity: 0.7;
  margin: auto;
  transition: opacity 0.5s;
}

.film-trailer:hover {
  opacity: 1;
}

.film-details {
  display: flex;
  align-items: center;
  margin-top: 51px;
}

.time, .rating {
  display: flex;
  align-items: center;
}

.rating {
  margin-left: 34px;
}

.time-icon, .rating-icon {
  margin-right: 14px;
}

.rating-current {
  font-size: 24px;
  line-height: 150%;
}

.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session-date-block {
  display: flex;
}

.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.3s;
}

.session-date-item:hover {
  background-color: #FE8E05;
  color: #111032;
}

.session-month {
  font-size: 16px;
  line-height: 19px;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.select-cinema {
  width: 470px;
}

.select-time {
  min-width: 108px;
}

/* _____________Day 3 */

.scheme {
  margin-top: 60px;
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
}

.scheme-svg {
  max-width: 1170px;
}

.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.1);
}

.scheme rect {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.scheme rect:not(.legend-icon):hover {
  fill: rgba(254, 142, 5, 1);
}

.scheme rect.booked,
.scheme rect.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.legend {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 38px;
}

.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.legend-text-active {
  color: #FE8E05;
}

.scheme rect.active {
  fill: #FE8E05;
}

.legend svg {
  margin-right: 15px;
}

.price {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.price-tag {
  font-size: 52px;
  line-height: 61px;
}


.button {
  display: block;
  background: #FE8E05;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  text-decoration: none;
}

/* _____________Day 4 */

@media (max-width: 1200px) {

  .container {
    max-width: 960px;
  }

  .select-cinema {
    width: 100%;
  }

}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .menu-item {
    margin-right: 20px;
  }

  .session {
    flex-wrap: wrap;
  }

  .session-date {
    flex-basis: 70%;
    margin-bottom: 40px;
  }

  .session-time {
    order: 2;
  }

  .session-cinema {
    order: 3;
  }
}

@media (max-width: 768px) {

  .container {
    max-width: 560px;
  }

  .nav {
    position: relative;
  }

  .menu {
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 20px;
    margin-left: 0;
    flex-direction: column;
    background: #111032;
    z-index: 9;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .m-menu {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .film-description {
    margin-right: 30px;
  }

  .film {
    flex-direction: column;
  }

  .film-trailer {
    margin-right: auto;
    margin-left: 0;
    margin-top: 40px;
  }

}

/* ___________ Адаптирование для мобильных устройств */


@media (max-width: 527px) {

  .container {
    max-width: 320px;
  }

  .film-trailer svg {
    width: 75px;
    height: 75px;
  }

  .session {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 40px;
  }

  .session-cinema {
    width: 100%;
  }

  .session-time {
    width: 100%;
  }

  .session-date-item {
    width: 70px;
  }

  .session-date-item:last-child {
    margin-right: 0px;
  }

  .session-month {
    font-size: 12px;
    line-height: 16px;
  }

  .session-day {
    font-size: 24px;
    line-height: 36px;
  }

  .session-week {
    font-size: 14px;
    line-height: 14px;
  }

  .session-date {
    margin: 0;
    width: 100%;
  }

  .session-label {
    margin-top: 40px;
  }

  .select {
    margin: 0;
  }

  .select-time {
    width: 100%;
  }

  .scheme {
    width: 900px;
    overflow-x: auto;
  }

  .scheme-svg {
    width: 900px;
  }

  .legend {
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
    padding-left: 36px;
  }

  .legend-label {
    font-size: 12px;
    margin: 0;
    margin-bottom: 15px;
  }

  .price-tag {
    font-size: 40px;
  }

  .button {
    font-size: 16px;
    padding: 27px 7px;
  }

}



